html {
    padding: 0;
    margin: 0;
    height: 100%;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

body {
    height: 100%;
    margin: 0;
}

#nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px;
    background-color: #DAD6D5;
    color: #662d22; 
}

.nav-item {
    height: auto;
    display: flex;
    align-items: center;
}

/* styling for logo images in nav */
.logo-img {
    height: 75px;
    width: auto;
    margin-right: 10px;
}

.text-color-primary {
    color: #662d22;
}

.text-color-secondary {
    color: #226662;
}

.content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* styling for each individual content block */
.content div {
    background-image: url('images/pattern.svg');
    background-repeat: repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: relative;
    cursor: pointer;
    height: 100%;
    width: 100%;
}

/*font size for game names */
.content h3 {
    font-size: 2em; 
    margin-bottom: 3px; 
    color: #662d22;
}

.content h3:last-child {
    margin-bottom: 4rem;
}

.content img {
    height: 450px;
    margin-bottom: 10px;
}

h3 {
    font-size: 1.5rem;
    margin: 0;
    opacity: 0;
    transition: opacity 0.3s ease;
}

/* hover effect */
.content div:hover h3 {
    opacity: 1;
    color: #662d22;
}

.genre-selector {
    background: #DAD6D5;
    font-size: 24px;
    margin-top: 12px;
    margin-bottom: 12px;
    margin-left: 24px;
    margin-right: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 48px;
    padding-right: 48px;
    cursor: pointer;
}

.genre-selector:nth-child(even) {
    color: #226662;
}

.genre-selector:nth-child(odd) {
    color: #662D22;
}

#genre-content {
    display: flex;
    padding-top: 24px;
    flex-direction: column;
    height: 100%;
    background-image: url('images/pattern.svg');
    background-repeat: repeat;
    background-size: 33.3%;
}

.genre-col {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.genre-row {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

#genre-selector-last {
    background: #DAD6D5;
    font-size: 24px;
    margin-top: 12px;
    margin-bottom: 12px;
    margin-left: 24px;
    margin-right: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 48px;
    padding-right: 48px;
    color: #662D22;
    cursor: pointer;
}

#genre-title {
    font-size: 28px;
    color: #662D22;
}

#guess-content {
    display: flex;
    padding-top: 96px;
    flex-direction: column;
    height: 100%;
    background-image: url('images/pattern.svg');
    background-repeat: repeat;
    background-size: 33.3%;
    background-color: #DFE6E0;
}

#guess-album-img {
    height: 200px;
    width: 200px;
    background-color: #226662;
    display: flex;
    align-self: center;
}

#lyrics {
    color:#662D22;
    font-size: 36px;
    align-self: center;
    margin: 12px;
}

#guess-inp {
    width: 200px;
    height: 25px;
    align-self: center;
    text-align: center;
}

#guess-submit-btn {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 12px;
    padding-right: 12px;
    margin: 12px;
    font-size: 18px;
    align-self: center;
    color: #662D22;
    background-color: #DAD6D5;
    border: 0;
}

.home-click {
    cursor: pointer;
}

.account-click {
    cursor: pointer;
}

.content #clash-link {
    background-color: #DFE6E5;
}

.content #guess-link {
    background-color: #DFE6E0;
}

.content #matching-link {
    background-color: #E6E1E0;
}

.content #clash-link:hover {
    background-color: #B3EAE2;
}

.content #guess-link:hover {
    background-color: #B0E3B7;
}

.content #matching-link:hover {
    background-color: #E2AFA5;
}

.content #clash-history-link:hover {
    background-color: #B3EAE2;
}

.content #guess-history-link:hover {
    background-color: #B0E3B7;
}

.content #matching-history-link:hover {
    background-color: #E2AFA5;
}

#matching-content {
    display: flex;
    justify-content: space-around;
    height: 100%;
    background-image: url('images/pattern.svg');
    background-repeat: repeat;
    background-size: 33.3%;
    background-color: #E6E1E0;
}

#album-matching {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 65%;
}

#album-matching-stage-1-options {
    display: flex;
    flex-direction: column;
    height: 85%;
    width: 30%;
    background-color: white;
    border: 2px solid black;
}

.album-matching-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 40%;
    width: 100%;
}

.album-matching-img-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.album-matching-img {
    width: 200px;
    height: 200px;
    background-color: orange;
    border: 2px solid black;
}

.album-matching-guesses {
    width: 50%;
    height: 82%;
    background-color: white;
    border: 2px solid black;
}

.matching-title-area {
    background: white;
    width: 95%;
    height: 50px;
    border: 2px solid black;
    align-self: center;
}

.bracket-img {
    padding-top: 100px;
    width: 1000px;
    margin: 0 auto;
    

}

#clash-content {
    display: flex;
    padding-top: 96px;
    flex-direction: column;
    height: 100%;
    background-image: url('images/pattern.svg');
    background-repeat: repeat;
    background-size: 33.3%;
    background-color: #dfe6e6;
}

.clash-col {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.clash-1 {
    position: absolute;
    padding-top: 970px;
    top: 0;
    right: 1600px;
    width: 100px;
}

.clash-2 {
    position: absolute;
    padding-top: 700px;
    top: 0;
    right: 1600px;
    width: 100px;
}

.clash-3 {
    position: absolute;
    padding-top: 520px;
    top: 0;
    right: 1600px;
    width: 100px;
}

.clash-4 {
    position: absolute;
    padding-top: 250px;
    top: 0;
    right: 1600px;
    width: 100px;
}

.clash-5 {
    position: absolute;
    padding-top: 520px;
    top: 0;
    right: 800px;
    width: 100px;
}

.clash-6 {
    position: absolute;
    padding-top: 250px;
    top: 0;
    right: 800px;
    width: 100px;
}

.clash-7 {
    position: absolute;
    padding-top: 700px;
    top: 0;
    right: 800px;
    width: 100px;
}

.clash-8 {
    position: absolute;
    padding-top: 970px;
    top: 0;
    right: 800px;
    width: 100px;
}

.versus-container {
    width: auto;
    overflow: hidden;
}

.versus-img {
    width: 400px;
    float: right;
    padding-right: 600px;
    margin-top: 350px;
}

.versus-img:last-child {
    float: left;
    margin-right: 0;
    padding-left: 500px;
}

.versus {
    padding-left: 600px;
    margin-left: 650px;
}

.versus-1 {
    position: absolute;
    padding-top: 1000px;
    top: 0;
    right: 700px;
    width: 100px;
}

.versus-2 {
    position: absolute;
    padding-top: 1000px;
    top: 0;
    right: 1700px;
    width: 100px;
}